/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;  
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/
body {
  background-color: var(--clr-paleBlue);
}

.resultpage{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20vh 20vw;
  height: calc(100vh - 40vh); /* full viewport height minus top+bottom margins */
} 

@media (max-width: 375px) {
  .resultpage{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 2vh 5vw; /* Adjust margins for mobile */
  }  
}

.resultpage .part1,
.resultpage .part2 {
  box-sizing: border-box;
  border-radius: 3%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resultpage .part1 {
  background: linear-gradient(to bottom, var(--gra-lightSlateBlue), var(--gra-lightRoyalBlue));
  justify-content: center;
  align-items: center;
}

.resultpage .part2{
  background: var(--clr-white);
}

.resultpage .part1 .innerpart1,
.resultpage .part2 .innerpart2{
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  margin: 10% 5%;
  font-family: var(--fs-base);
  flex: 1;
}

.resultpage .part1 .innerpart1{
  align-items: center;
  justify-content: space-between;
}

.resultpage .part1 .innerpart1 .head{
  box-sizing: border-box;
  font-weight: var(--fw-regular);
  font-size: clamp(0.75rem, 2.5vw, 2rem);
  width: 100%;
  text-align: center;
  /*margin-bottom: 1rem;*/
  color: var(--clr-lightLavender);
}

.resultpage .part1 .innerpart1 .circle{
  box-sizing: border-box;
  border-radius: 50%;
  background-color: linear-gradient(to bottom, var(--gra-violetBlue), var(--gra-persianBlue));
  width: 50%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: 0.75fr auto 1fr;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: box-shadow 0.3s ease-in-out;
  /*margin-bottom: 0.5rem;*/
}

.resultpage .part1 .innerpart1 .circle .score{
  box-sizing: border-box;
  height: 100%;
}

.resultpage .part1 .innerpart1 .circle .score.top {
    box-sizing: border-box;
    font-weight: var(--fw-regular);
    font-size: 0.75rem;
    justify-self: center;
    align-self: center;
}

.resultpage .part1 .innerpart1 .circle .score.bottom {
  box-sizing: border-box;
  font-weight: var(--fw-regular);
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  justify-self: center;
  align-self: center;
  color: var(--clr-lightLavender);
}

.resultpage .part1 .innerpart1 .circle .score.middle {
  box-sizing: border-box;
  font-weight: var(--fw-black);
  font-size: clamp(3rem, 5vw, 6rem);
  justify-self: center;
  align-self: center;
  line-height: 1;
  color: var(--clr-white);
}

.resultpage .part1 .innerpart1 .comment{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.resultpage .part1 .innerpart1 .comment.top{
  box-sizing: border-box;
  font-weight: var(--fw-bold);
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  /*margin-bottom: 1rem; */ 
  color: var(--clr-white);
}

.resultpage .part1 .innerpart1 .comment.bottom{
  box-sizing: border-box;
  font-weight: var(--fw-regular);
  font-size: clamp(.5rem, 2.5vw, 1.5rem);
  text-align: center;
  word-wrap: break-word;
  color: var(--clr-lightLavender);
}

.resultpage .part2 .innerpart2 .summary{
  box-sizing: border-box;
  font-weight: var(--fw-bold);
  font-size: clamp(.5rem, 2.5vw, 2rem);
  width: 100%;
  text-align: left;
  color: var(--clr-darkGrayBlue);
  margin-bottom: 0.75rem ;
}

.resultpage .part2 .innerpart2 .list{
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.resultpage .part2 .innerpart2 .list .listitem{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10%;
  font-size: clamp(.25rem, 2.5vw, 1.5rem);
}

.resultpage .part2 .innerpart2 .list .listitem .score {
  color: color-mix(in srgb, var(--clr-darkGrayBlue) 90%, white);
}

.resultpage .part2 .innerpart2 .list .listitem .itemtype {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* spacing between icon and text */
  font-weight: var(--fw-regular);
}

.resultpage .part2 .innerpart2 .list .listitem .itemtype .icon {
  width: 20px;
  height: 20px;
}

.resultpage .part2 .innerpart2 .list .listitem.Reaction {
  background-color: color-mix(in srgb, var(--clr-lightRed) 5%, white);
}

.resultpage .part2 .innerpart2 .list .listitem.Reaction .itemtype{
  color: var(--clr-lightRed);
}

.resultpage .part2 .innerpart2 .list .listitem.Memory {
  background-color: color-mix(in srgb, var(--clr-orangeYellow) 5%, white);
}

.resultpage .part2 .innerpart2 .list .listitem.Memory .itemtype{
  color: var(--clr-orangeYellow);
}


.resultpage .part2 .innerpart2 .list .listitem.Verbal {
  background-color: color-mix(in srgb, var(--clr-greenTeal) 5%, white);
}

.resultpage .part2 .innerpart2 .list .listitem.Verbal .itemtype{
  color: var(--clr-greenTeal);
}

.resultpage .part2 .innerpart2 .list .listitem.Visual {
  background-color: color-mix(in srgb, var(--clr-cobaltBlue) 5%, white);
}

.resultpage .part2 .innerpart2 .list .listitem.Visual .itemtype{
  color: var(--clr-cobaltBlue);
}

.resultpage .part2 .innerpart2 .Continue{
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: var(--clr-darkGrayBlue);
  font-size: clamp(0.5rem, 2.5vw, 1.75rem);
  color: var(--clr-white);
  width: 20vw;
  height: 5vh;
  align-self: center;
}


/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }